<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Receber Dados</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
    <form th:object="${dados}">
        <div class="form-group">
            <label>Nome</label>
            <input type="text" th:field="*{nome}">
            <span></span>
        </div>
        <div class="form-group">
            <label>E-Mail</label>
            <input type="email" th:field="*{email}">
            <span></span>
        </div>
        <div class="form-group">
            <label>Número</label>
            <input type="number" th:field="*{numero}">
            <span></span>
        </div>
    </form>
</body>
</html>