<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
    <div>
        <h1>Valores Recebidos</h1>
        <p th:text="${texto}">Texto</p>
        <p th:text="${numero}">Número</p>
        <p th:text="${dataHora}">Data e Hora</p>
    </div>
</body>
</html>